.party-container {
    width: 50%;
    margin-left: 25%;
    margin-top: 70%;
    text-align: center;
    background-color: white;
  }

table {
    width: 100%;
    text-align: left;
}

.buttons-right {
    text-align: right;
    padding: 0;
    margin: 0;
}

.arrow-button {
  /* background-color: #4285F4; */
  /* border-style: solid; */
  /* border-color: #4285F4; */
  margin: 0%;
  width: 100%;
  color: #4285F4;
  cursor: pointer;
  text-align: center;
}

.arrow-button-up-voted {
  /* background-color: white; */
  color: #00C851;
}


.arrow-button-down-voted {
  /* background-color: white; */
  color: #ff4444;
}

@media only screen and (max-width: 600px) {
   .party-container {
     width: 100%;
     margin-left: 0%;
   }
}

.end-party-button {
  float: right;
  border: 0;
}

.account-party {
  padding-top: 5%;
}

.add-song {
  padding-top: 20%;
}

.spotify-row {
  display: inline-flex;
  width: 80%;
  padding: 0;
}

.spotify-artowrk {
  width: 20%;
  height: 100%;
}

.spotify-td {
  display: flex;
}

.spotify-title {
  color: #606060;
  width: 100%;
}

.spotify-artist {
  color: darkgray;
  width: 100%;
}
