<app-current-song [inp]=event.event_id></app-current-song>
<button class="btn btn-outline-danger end-party-button" (click)="onEndPartyClick()" *ngIf="event.user_id==user.user_id">End Party</button>

<div class='party-container rounded'>
    <h4>{{event.event_name}}</h4>
    <h6>Party Code: {{event.event_id}}</h6>
    <p>{{event.description | lowercase}}</p>
    <button class="btn btn-primary" (click)="loginSpotify()">Refresh Spotify token</button>

    <app-song-search [inp]=event.event_id></app-song-search>

    <table mat-table [dataSource]="queuedSongs$ | async" class="mat-elevation-z8">

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Score </th>
          <td mat-cell *matCellDef="let element"> {{element.popularity}} </td>
        </ng-container>

        <ng-container matColumnDef="artist">
          <th mat-header-cell *matHeaderCellDef> Artist </th>
          <td mat-cell *matCellDef="let element"> {{element.artist}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="vote" >
            <th mat-header-cell *matHeaderCellDef> Vote </th>
            <td mat-cell *matCellDef="let element" class='buttons-right'>
              <div class="arrow-button arrow-button-up" [class.arrow-button-up-voted]="userVotes[element.order_num] == 1" (click)="upvote(element.order_num, element.song_id, element.platform)">
                <mat-icon aria-hidden="false">add_circle</mat-icon>
              </div>
              <div class="arrow-button arrow-button-down" [class.arrow-button-down-voted]="userVotes[element.order_num] == -1" (click)="downvote(element.order_num, element.song_id, element.platform)">
                  <mat-icon aria-hidden="false">remove_circle</mat-icon>
              </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>
