.party-container {
    width: 50%;
    margin-left: 25%;
    text-align: center;

  }

table {
    width: 100%;
    text-align: left;
}

.buttons-right {
    text-align: right;
    padding: 0;
    margin: 0;
}

.arrow-button {
  background-color: #4285F4;
  border-style: solid;
  border-color: #4285F4;
  margin: 0%;
  width: 100%;
  color: white;
  cursor: pointer;
  text-align: center;
}
.arrow-button:hover {
  background-color: white;
  color: #4285F4;
}

@media only screen and (max-width: 600px) {
   .party-container {
     width: 100%;
     margin-left: 0%;
   }
}
