.mobile-navbar {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  /* border-top-color: lightgray;
  border-top-style: solid; */
  background-color: white;
  width: 100%;
  height: 8%;
  display: inline-flex;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: lightgray;
}

.section {
  height: 100%;
  padding-top: 7px;
  text-align: center;
  float: bottom;
  width: 33.333333%;
}

mat-icon {
  font-size: 10vw;
  width: 100%;
  height: 100%;
}

.active {
  color: #0275d8;
  border-bottom-style: solid;
  border-color: #0275d8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
