.current-song {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: -1;
  background-color: black;
  color: white;
  text-align: center
}

.song {
  padding-top: 20%;
  padding-bottom: 20%;
  width: 100%;
}

.normal {
  font-size: 3.5vw;
}

.banner {
  font-size: 3.25vw;
  padding-top: 3%;
  padding-bottom: 3%;
}
