<div *ngIf=DESKTOP class='current-song-outer-desktop'>
  <div *ngIf="song.song_id" class="current-song-desktop">
  <!-- <div *ngIf="song.song_id" class="current-song-desktop" [style.backgroundImage]="'url('+ song.artwork +')'"> -->
      <mat-card *ngIf="song.platform == 'spotify'" class='song-info-card'>
        <mat-card-title>{{song.title}}</mat-card-title>
        <mat-card-subtitle>{{song.artist}}</mat-card-subtitle>
      </mat-card>
      <img *ngIf="song.platform == 'spotify'" src={{song.artwork}} alt="album art" [style.height]="height+'px'" >

      <app-spotify *ngIf="HOST && song.platform == 'spotify'" [inp]="song" [nextSong]="[spotify_next$ | async, spotifyPlaybackService.device_id | async]" (myEvent)='skipSong()'></app-spotify>
      <app-soundcloud *ngIf="HOST && song.platform == 'soundcloud'" [inp]="song.song_id" (endSong)=skipSong()></app-soundcloud>
      <app-youtube-player *ngIf="HOST && song.platform == 'youtube'" [inp]="song.song_id" (endSong)=skipSong()></app-youtube-player>

    </div>

</div>

<div *ngIf=!DESKTOP>

  <div *ngIf="song && song.song_id" class="current-song" [style.backgroundImage]="'url('+ song.artwork +')'" [style.z-index]="0 ? -1 : 1">

    <div class="song" [class.song-normal]="DESKTOP || song_padding != 0"  [style.padding-top]="DESKTOP || song_padding != 0 ? 2.5 + song_padding+'%' : 0" [style.padding-bottom]="width > 600 || song_padding != 0 ? 27.5 + song_padding+'%' : 0">

      <div *ngIf="song_padding == 0" class="banner">
        <img *ngIf="song.platform == 'spotify'" class="icon" src="assets/media/spotify.png">
        <img *ngIf="song.platform == 'soundcloud'" class="icon" src="assets/media/soundcloud.png">
        <img *ngIf="song.platform == 'youtube'" class="icon" src="assets/media/youtube.png">
        <div class="text-banner">
          {{song.title}} - {{song.artist}}
        </div>
        <mat-icon (click)='skipSong()'>skip_next</mat-icon>
      </div>

      <div *ngIf="DESKTOP || song_padding != 0" class="normal">
          <div class="text-normal">
            <b>{{song.title}}<br>{{song.artist}}</b>
          </div>
        </div>

    </div>
  </div>
  <div *ngIf="!song || !song.song_id" class="current-song current-song-empty">

    <div class="song" [class.song-normal]="DESKTOP || song_padding != 0"  [style.padding-top]="DESKTOP || song_padding != 0 ? 2.5 + song_padding+'%' : 0" [style.padding-bottom]="width > 600 || song_padding != 0 ? 27.5 + song_padding+'%' : 0">

      <div *ngIf="song_padding == 0" class="banner">
        <div class="text-banner-empty">
          Add songs to start!
        </div>
      </div>

      <div *ngIf="DESKTOP || song_padding != 0" class="normal">
          <div class="text-normal">
            Add songs to start!
          </div>
        </div>

    </div>
  </div>

</div>
