.search-component {
  overflow: visible;
  height: 20%;
  width: 100%;
}

.input-field {
  width: 95%;
  border-radius: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  border: 0;
  padding: 1% 3% 1% 3%;
  background-color: gainsboro;
  color: black;
  outline: 0;
}

.buttons {
  width: 95%;
  margin: 2%;
  /*
  border-radius: 15px;
  padding: 1% 3% 1% 3%;
  outline: 0;
  width: 95%; */
}

.platform-button {
  font-size: 3.25vw;
  padding: 1%;
}

.input-field-active {
  background-color: whitesmoke;
}

mat-form-field {
  width: 90%;
}

table {
  width: 100%;
}

td {
    width: 100%;
    cursor: pointer;
    /* text-align: left; */
}

.youtube-td {
  display: flex;
  text-align: left;
}

.youtube-title {
  width: 70%;

}

.youtube-td > img {
  width: 25%;
  margin-right: 5%;
  height: 100%;
}

.soundcloud {
  text-align: left;
}

.soundcloud > img {
  width: 100%;
}

.spotify-row {
  display: inline-flex;
  width: 80%;
  padding: 0;
}

.spotify-artowrk {
  width: 20%;
  height: 100%;
}

.spotify-td {
  display: flex;
}

.spotify-title {
  color: #606060;
  width: 100%;
}

.spotify-artist {
  color: darkgray;
  width: 100%;
}
/*
.add-song {
  position: fixed;
  z-index: 1;
  top: 9%;
  width: 100%;
  background-color: white;
} */

/* .search-scroll {
  padding-top: 18%;
} */
