<div class="search-component">
  <!-- <h4><label for="search-box">Find Songs</label></h4> -->
  <div [class.add-song]="searching_term != ''">
    <input class="input-field" [(ngModel)]="searching_term" [class.d-none]="!searchOptions[0]" [class.input-field-active]="searchBox.value" #searchBox (input)="search_spotify(searching_term)" placeholder="Add a song to the queue">
    <input class="input-field" [(ngModel)]="searching_term" [class.d-none]="!searchOptions[1]" [class.input-field-active]="searchBoxSoundcloud.value" #searchBoxSoundcloud (input)="searchSoundcloud(searching_term)" placeholder="Add a song to the queue">
    <input class="input-field" [(ngModel)]="searching_term" [class.d-none]="!searchOptions[2]" [class.input-field-active]="searchBoxYoutube.value" #searchBoxYoutube (input)="searchYoutube(searching_term)" placeholder="Add a song to the queue">

    <div class="btn-group buttons">
      <button class="btn platform-button" [class.btn-primary]="searchOptions[0]" [class.btn-outline-primary]="!searchOptions[0]" (click)="onButtonClick(0)">Spotify</button>
      <button class="btn platform-button" [class.btn-primary]="searchOptions[1]" [class.btn-outline-primary]="!searchOptions[1]" (click)="onButtonClick(1)">Soundcloud</button>
      <button class="btn platform-button" [class.btn-primary]="searchOptions[2]" [class.btn-outline-primary]="!searchOptions[2]" (click)="onButtonClick(2)">Youtube</button>
    </div>
  </div>
  <div *ngIf="searchOptions[0]" [class.search-scroll]="searching_term != ''">

    <table *ngIf="searchBox.value" mat-table [dataSource]="convertJSON(spotifySongs$ | async)" [trackBy]="trackByFunction" class="mat-elevation-z8">
      <ng-container matColumnDef="Results">
        <!-- <th [class.d-none]="1" mat-header-cell *matHeaderCellDef></th> -->
        <td class="spotify-td" style="padding-left: 0" mat-cell *matCellDef="let element" (click)="addSong(element)" (click)="searchBox.value = ''">
          <img *ngIf="element.artwork" class="spotify-artowrk" src={{element.artwork}}>
          <img *ngIf="!element.artwork" class="spotify-artowrk" src="/assets/media/spotify.png">
          <div class="spotfy-row text-left" style="padding-top: 1%; margin-left: 2.5%;">
            <div class="spotify-title">
              <b>{{element.title}}</b>
            </div>
            <div class="spotify-artist">
              <small>{{element.artist}}</small>
            </div>
          </div>
        </td>
      </ng-container>
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="searchOptions[1]">

    <table *ngIf="searchBoxSoundcloud.value" class="soundcloud" mat-table [dataSource]="soundcloud$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="Results">
        <!-- <th [class.d-none]="1" mat-header-cell *matHeaderCellDef></th> -->
        <td class="spotify-td" style="padding-left: 0" mat-cell *matCellDef="let element" (click)="addSong(convertSoundcloud(element))" (click)="searchBoxSoundcloud.value = ''">
          <img *ngIf="element.artwork_url" class="spotify-artowrk" src={{element.artwork_url}}>
          <img *ngIf="!element.artwork_url && element.user.avatar_url" class="spotify-artowrk" src={{element.user.avatar_url}}>
          <img *ngIf="!element.artwork_url && !element.user.avatar_url" class="spotify-artowrk" src="/assets/media/soundcloud.png">
          <div class="spotfy-row text-left" style="padding-top: 1%; margin-left: 2.5%;">
            <div class="spotify-title">
              <b>{{element.title}}</b>
            </div>
            <div class="spotify-artist">
              <small>{{element.user.username}}</small>
            </div>
          </div>
        </td>
      </ng-container>
      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsSoundcloud"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumnsSoundcloud;"></tr>
    </table>
  </div>

  <div *ngIf="searchOptions[2]">

    <table *ngIf="searchBoxYoutube.value" mat-table [dataSource]="youtubes$ | async" class="mat-elevation-z8">
      <ng-container matColumnDef="Results">
        <!-- <th [class.d-none]="1" mat-header-cell *matHeaderCellDef></th> -->
        <td class="youtube-td" style="padding-left: 0" mat-cell *matCellDef="let element" (click)="addSong(convertYoutube(element))" (click)="searchBoxYoutube.value = ''"> <img *ngIf="element.artwork" src={{element.artwork}}> <img *ngIf="!element.artwork" src="assets/media/youtube.png"> <div class="youtube-title">{{element.title}}</div> </td>
      </ng-container>

      <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsYoutube"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumnsYoutube;"></tr>
    </table>
  </div>

</div>
