.search-component {
  overflow: visible;
  height: 20%;
  width: 100%;
}

mat-form-field {
  width: 90%;
}

table {
  width: 100%;
}

td {
    width: 100%;
    cursor: pointer;
    /* text-align: left; */
}

.youtube-td {
  display: flex;
}

.youtube-title {
  width: 70%;
}

img {
  width: 25%;
  margin-right: 5%;
}
