<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color: white; cursor: pointer" routerLink="/"><b>MMDJ</b></a>
  <button class="navbar-toggler" type="button" data-toggle="dropdown" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-xs-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="host">Start a Party</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="join">Join a Party</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="findParty()">Party</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!currentUser" class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li *ngIf="currentUser" class="nav-item">
        <a class="nav-link" (click)="logout()">{{currentUser.username}}</a>
      </li>
    </ul>
  </div>

</nav>
