/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* background-image: linear-gradient(rgba(75, 78, 109, 1),rgba(149, 163, 179,1)); */
  background-color: #222222;
}
html {
}
