<div class="example-container">
  <button [class.d-none]="convertBoolean(has_token$ | async)" class="btn btn-success spotify-button" (click)="authenticate()">Connect to Spoitfy</button>
  <h1>Create a Party</h1>
  <form class="form-container text-center" [formGroup]="partyForm" (ngSubmit)="createParty()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Party Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description">
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="genre" placeholder="Genre">
        <mat-option value="option">Option</mat-option>
        <mat-option value="option2">Option2</mat-option>
      </mat-select>
    </mat-form-field>
    <button class="btn btn-primary" type="submit">Start Party!</button>
  </form>
