<div class='profile-div'>
    <button class="btn btn-primary" mat-button (click)=showProfileOptions()>
      <mat-icon>person</mat-icon>
        {{currentUser.username}}
    </button>
    <div>
      <button class="btn btn-primary" mat-button (click)="logout()" *ngIf='showLogout'>log out</button>
    </div>
</div>

<div class="example-container">
  <button [class.d-none]="convertBoolean(has_token$ | async)" class="btn btn-success spotify-button" (click)="authenticate()">Connect to Spoitfy</button>
  <h1>Create a Party</h1>
  <form class="form-container text-center" [formGroup]="partyForm" (ngSubmit)="createParty()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Party Name">
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="description" placeholder="Description">
    </mat-form-field>

    <button class="btn btn-primary" type="submit">Start Party!</button>
  </form>
